
<div class="row text-xs-center">

  <h1 class="display-4 m-b-2">Earthquake Data <span><i class="icon ion-ios-pulse"></i></span></h1>

  <select class="custom-select form-control-lg" name="sourceSelect" ng-model="baseSrc" ng-change="getSource()">
    <optgroup label="Past hours">
      <option value="significant_hour">Significant Earthquakes</option>
      <option value="4.5_hour">M4.5+ Earthquakes</option>
      <option value="2.5_hour">M2.5+ Earthquakes</option>
      <option value="1.0_hour">M1.0+ Earthquakes</option>
      <option value="all_hour">All Earthquakes</option>
    </optgroup>
    <optgroup label="Past Day">
      <option value="significant_day">Significant Earthquakes</option>
      <option value="4.5_day">M4.5+ Earthquakes</option>
      <option value="4.5_day">M2.5+ Earthquakes</option>
      <option value="4.5_day">M1.0+ Earthquakes</option>
      <option value="all_day">All Earthquakes</option>
    </optgroup>
    <optgroup label="Past Week">
      <option value="significant_week">Significant Earthquakes</option>
      <option value="4.5_week">M4.5+ Earthquakes</option>
      <option value="4.5_week">M2.5+ Earthquakes</option>
      <option value="4.5_week">M1.0+ Earthquakes</option>
      <option value="all_week">All Earthquakes</option>
    </optgroup>
    <optgroup label="Past Month">
      <option value="significant_month">Significant Earthquakes</option>
      <option value="4.5_month">M4.5+ Earthquakes</option>
      <option value="4.5_month">M2.5+ Earthquakes</option>
      <option value="4.5_month">M1.0+ Earthquakes</option>
      <option value="all_month">All Earthquakes</option>
    </optgroup>
  </select>

</div>

<hr class="m-t-2 m-b-2">

<div class="row">

  <h2 class="text-xs-center" ng-bind="data.metadata.title"></h2>

  <div class="table-responsive">
    <table class="table table-condensed table-bordered m-t-2">
      <thead>
        <tr>
          <th>URL</th>
          <th class="text-xs-center">API</th>
          <th class="text-xs-center">Generated</th>
          <th class="text-xs-center">Total Events</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span><a href="{{ data.metadata.url }}" ng-bind="data.metadata.url"></a></span></td>
          <td class="text-xs-center"><span ng-bind="data.metadata.api"></span></td>
          <td class="text-xs-center"><span ng-bind="data.metadata.generated | date:'MM/dd/yyyy @ HH:mm:ss'"></span></td>
          <td class="text-xs-center"><span ng-bind="data.metadata.count"></span></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="row">

  <div class="loading" ng-hide="data"></div>

  <div class="alert alert-success text-xs-center" ng-show="data.metadata.count === 0" role="alert">
    <h4>No recent events.</h4>
  </div>

  <div class="table-responsive">
    <table class="table table-condensed table-bordered table-hover" ng-show="data.metadata.count != 0">
      <thead class="thead-default">
        <tr>
          <th class="text-xs-center">#</th>
          <th class="text-xs-center"><a href="#" ng-click="sortBy('properties.mag')">Magnitud</a></th>
          <th>Location</th>
          <th class="text-xs-center"><a href="#" ng-click="sortBy('properties.time')">Date / Time</a></th>
          <th class="text-xs-center"><a href="#" ng-click="sortBy('properties.type')">Type</a></th>
          <th class="text-xs-center">Source</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in data.features | orderBy: propertyName : reverse" ng-class="{'table-danger': item.properties.type.indexOf('explosion') != -1, 'table-warning': item.properties.type.indexOf('blast') != -1}">
          <td class="text-xs-center" ng-bind="$index+1"></td>
          <td class="text-xs-center" ng-bind="item.properties.mag"></td>
          <td ng-bind="item.properties.place"></td>
          <td class="text-xs-center" ng-bind="item.properties.time | date:'MM/dd/yyyy @ h:mma'"></td>
          <td class="text-xs-center" ng-bind="item.properties.type"></td>
          <td class="text-xs-center"><a href="{{ item.properties.url }}"><i class="icon ion-link"></i></a></td>
        </tr>
      </tbody>
      <tfoot class="thead-default">
        <tr>
          <th class="text-xs-center">#</th>
          <th class="text-xs-center"><a href="#" ng-click="sortBy('properties.mag')">Magnitud</a></th>
          <th>Location</th>
          <th class="text-xs-center"><a href="#" ng-click="sortBy('properties.time')">Date / Time</a></th>
          <th class="text-xs-center"><a href="#" ng-click="sortBy('properties.type')">Type</a></th>
          <th class="text-xs-center">Source</th>
        </tr>
      </tfoot>
    </table>
  </div>

</div>
